/* ObjectInfo.js */
.object-info {
    background: rgba(250,250,0,0.6);
    top: 0;
    right: 0;
    padding: 10px;
    width: 400px;
    z-index: 9;
}

/* ListObjects.js */
.list-objects {
    position:absolute !important;
    background: rgba(250,250,250,0.6);
    top: 100px;
    border: 1px solid purple;
    left: 0;
    padding: 10px;
    max-width: 200px;
    z-index: 9;
}
.list-objects li:hover {
    border: 1px solid #E39300;
}
.list-objects li.active {
    background-color: #FFaa33;
}

/* Inputs in general */

/* number input */
.form-check-input[type="number"] {
    width: 120px;
}

.no-expert-mode .number-type.no-editing .input-group-append,
.no-expert-mode .input-type.no-editing .input-group-append,
.no-expert-mode .select-type.no-editing .input-group-append  { /* the prepend is extra info that is not usefult for standard users */
    display: none
}

/* individual inputs */
#input-name input {
    font-size: 2rem;
    border: 1px solid magenta
}


.input-group.flex-nowrap {
    justify-content: space-around;
}